.ip-info-card__box {
	background-color: white;
	max-width: 400px;
	width: 87%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	gap: 1.5rem;
	padding: 1.5rem 0;
}

.ip-info-card__box article > * {
	margin: 0;
}

.ip-info-card__box article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	max-width: 200px;
}

.ip-info-card__box article h4 {
	font-size: 11px;
	letter-spacing: 1.2px;
	color: #808080e0;
	font-weight: 700;
}

.ip-info-card__box article h5 {
	font-size: 22px;
	font-weight: 500;
}

.ip-info-card__box hr {
	display: none;
}

@media only screen and (min-width: 576px) {
	.ip-info-card__box {
		flex-direction: row;
		max-width: 1000px;
		width: 87%;
		justify-content: space-around;
		padding: 1.5rem 2rem;
	}

	.ip-info-card__box hr {
		display: block;
		height: 3rem;
		background-color: #58585830;
		border: none;
		width: 2px;
		margin: 0;
	}
	.ip-info-card__box article {
		align-items: flex-start;
		width: 100%;
	}
	.ip-info-card__box div {
		display: flex;
		gap: 2rem;
		max-width: 200px;
		width: 100%;
	}
}
