.interactive__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 1001;
	width: 100vw;
	top: 76px;
	gap: 1.5rem;
}

@media only screen and (min-width: 576px) {
	.interactive__box {
		top: 87px;
		gap: 3.5rem;
	}
}
