nav {
	display: flex;
	justify-content: center;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: 500;
	font-size: 27px;
	margin: 1.4rem;
}

@media only screen and (min-width: 576px) {
	nav a {
		margin: 1.6rem;
	}
}
