.advertisement__box {
	position: fixed;
	bottom: 0vh;
	right: 0vw;
	left: 0vw;
	z-index: 1001;
	background-color: rgb(241, 162, 13);
	color: white;
}

.advertisement__box button {
	position: absolute;
	right: 5px;
	bottom: 17px;
	background: none;
	border: none;
	color: rgb(255 255 255 / 62%);
	font-size: 13px;
	cursor: pointer;
	font-weight: 600;
}

.advertisement__box button:hover {
	color: white;
}
